In [44]:
import pandas as pd
import numpy as np
import random
import string

In [52]:
#generate random hrc and PD
rows=10
nb_hrc=3
hrc=['A'+str(x) for x in list(np.random.randint(0,nb_hrc,rows))]
pd_=np.sort(np.random.randint(0,1000,nb_hrc)/10000)
hrc_unique=list(np.sort(list(set(hrc))))
mapping=dict(zip(hrc_unique,pd_))
pds=[mapping[i] for i in hrc]

#generate random id
def randomString(stringLength=3):
    """Generate a random string of fixed length """
    letters = string.ascii_lowercase
    return ''.join(random.choice(letters) for i in range(stringLength))
def randomFileList(size):
    return [randomString() for i in range(size)]

#generate random database
df=pd.DataFrame({'file':randomFileList(rows),'hrc':hrc,'pdi':pds})
df

  file hrc     pdi
0  fbh  A1  0.0291
1  egp  A0  0.0176
2  nzu  A1  0.0291
3  xvz  A1  0.0291
4  jfk  A1  0.0291
5  syp  A1  0.0291
6  wvx  A2  0.0767
7  hbo  A0  0.0176
8  xjb  A1  0.0291
9  xlf  A0  0.0176

In [4]:
s

array([2, 3, 8, 1, 3, 4, 5, 9, 9, 5])